
<h1>Developer</h1>
<%= form_for @dev do |f| %>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email %></p>
    <p><%= f.label :password %></p>
    <p><%= f.text_field :password %></p>
    <p><%= f.label :phone_number %></p>
    <p><%= f.number_field :phone_number %></p>
    <p><%= f.label :address %></p>
    <p><%= f.text_field :address %></p>
    <h2>Projects</h2>
    
        <%= f.fields_for :projects do |p| %>
            <p><%= p.label :name %></p>
            <p><%= p.text_field :name %></p>
            <p><%= p.label :description %></p>
            <p><%= p.text_field :description %></p>
        <% end %>


    <p><%= f.submit %></p>
<% end %>