<h3>Clients</h3>

<%= form_for @client do |f| %>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email %></p>
    <p><%= f.label :phone_number %></p>
    <p><%= f.number_field :phone_number %></p>
    <p><%= f.label :address %></p>
    <p><%= f.text_field :address %></p>

    <p><%= f.submit %></p>
<% end %>