<!DOCTYPE html>
<html>
  <head>
    <title>Webdev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="jumbotron" style="background-color:transparent !important;">
    <%= render 'layouts/nav' %>

    <div class="field container-fluid ">
      <% if flash[:notice] %>
        <div class="notification is-primary global-notification">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="notification is-danger global-notification">
          <p class="alert"><%= alert %></p>
          </div>
      <% end %>
    
    <div class="row">
      <div class="col">
      
      </div>
      <div class="col-10">
        <%= yield %>
      </div>
      <div class="col">
      
      </div>
    </div>

    </div>
  </body>
</html>
